body {
  background: #121212;
  color: #eee;
  font-family: sans-serif;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 15px;
  padding: 15px;
  background: #121212;
}

.chart-container {
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
}


.chart-title {
  color: #40fcf4;
  font-family: monospace;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-align: center;
}

/* .chart-container { */
/*   margin: 20px; */
/*   padding: 10px; */
/*   background: #1e1e1e; */
/*   border-radius: 8px; */
/* } */
